{{>head}}
{{>adminNav}}

<section class="vh-100">
    <div class="container py-5 h-75">
        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-6 col-lg-6 col-xl-6 offset-xl-1">

                <form action="/admin-product/add" method="post" enctype="multipart/form-data">
                    <h1 class="pb-3 font-weight-bold">Add Product</h1>

                    <div class="form-outline mb-4">
                        <input type="text" id="name" name="name" class="form-control form-control-lg border-dark"
                            placeholder="Product Name" />
                    </div>


                    <div class="form-outline mb-4">
                        <input type="number" id="price" name="price" pattern=".{1,6}"
                            class="form-control form-control-lg border-dark" placeholder="Price" />
                    </div>

                    <div class="form-outline mb-4">
                        <textarea type="text" rows="6" id="description" name="description"
                            class="form-control form-control-lg border-dark" placeholder="Description"></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number" id="stock" name="stock" class="form-control form-control-lg border-dark"
                            placeholder="stock" />

                    </div>
                    <div class="form-outline mb-4">
                        <select name="category" class="form-control form-control-lg border-dark" id="cars">
                            <option>choose the category</option>
                            {{#each categories}}
                            <option value={{category}}>{{category}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="file" multiple class="form-control form-control-lg border-dark" name="image1" id="formFile"
                            accept="image/*">
                    </div>


                    <div class="form-outline mb-4">
                        <input type="file" class="form-control form-control-lg border-dark" name="image2" id="formFile"
                            accept="image/*" >
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-3">
                        <h6>Want to go back<a href="/admin-product"> click here</a></h6>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block w-100 border-dark">Add
                        Product</button>

                </form>
            </div>
        </div>
    </div>
</section>

{{>foot}}