
{{>adminNav}}


<section class="h-100 h-custom" style="background-color: #ffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 border-0">
                <div class="card card-registration card-registration-2 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Sales overview</h1>
                                        <a href="/admin/dashboard/report" style="text-decoration: none">
                                            <h6 class="mb-0 text-muted">
                                                {{ categories.length}}<i class="fa fa-download" aria-hidden="true"></i>
                                                Download Report
                                            </h6>
                                        </a>
                                    </div>
                                    <hr class="my-4">





                                    <div class="row mb-4 d-flex justify-content-between align-items-center">

                                        <div>
                                            <canvas id="myChart"></canvas>
                                        </div>

                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                        <script>
                                            const ctx = document.getElementById('myChart');

                                            var myChart = new Chart(ctx, {
                                                type: 'doughnut',
                                                data: {
                                                    labels:[{{#each months}}"{{@key}}",{{/each}}],
                                                    datasets: [{
                                                        label: "# of Orders",
                                                        data: [{{#each months}}{{this}},{{/each}}],
                                                        borderWidth: 4
                                                    }]
                                                },
                                                options: {
                                                    scales: {
                                                        y: {
                                                            beginAtZero: true
                                                        }
                                                    }
                                                }
                                            });
                                        </script>



                                    </div>

                                    <hr class="my-4">
 </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Quarterly Report</h3>
                    <hr class="my-4 mb-5">
  
                    
                    <!-- <div class="p-5"> -->
                        
                        
                        <div class="d-flex justify-content-between mb-4">
                          <h5 class="text-uppercase" style="font-weight: 700">Payment modes</h5>
                          <h5 id="totalSales" style="font-weight: 700"></h5>
                        </div>                  
                   
  
                    <div class="container">
                        <canvas id="doughnut"></canvas>
                    </div>
                    
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/javascripts/chart.js"></script>

{{>foot}}