<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/Footwear.png" type="image/x-icon">
  <title>
    Mzee-Admin
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light text-dark">
    <div class="container-fluid">
      <div class="logo-user">
        <a class="navbar-brand text-white mx-4" href="/admin_home">
          <img src="/images/logo.png" style="max-width:10rem">

        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-white me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/coupons">Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/users">Users</a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/banner">Banner</a>
          </li>
        </ul>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Logout
        </button>

        <!-- Modal -->


      </div>
    </div>


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Logout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to Logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/admin-logout"><button type="button" class="btn btn-danger">Logout</button></a>
          </div>
        </div>
      </div>
    </div>


    
  </nav>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popper../../public/javascripts/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/../../public/javascripts/bootstrap.min.js"
  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</html>