<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/success.css">
</head>


<body>


    <div class="main-container">
        <div class="check-container">
            <div class="check-background">
                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="check-shadow"></div>

        </div>
         <div class="text" style="padding:10px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" >

        <h2>Order Succesfully Completed :)</h2>
        <h4>lets take you to orders <a href="/orders" style="text-decoration:none;color:chocolate">Go orders</a></h4>
    </div>
    </div>
    
</body>

</html>

{{>foot}}